body{
	position: static;
}


header{
	position: static;

}




.first_line{
/* Rectangle 6 */

position: static;
width: 100%;
height: 36px;
padding-top: -20px;
left: 0px;
top: -30px;

background: #F8F8F8;
}

.first_group{
	position: relative;
	display: inline-block;
	width: 93px;
	height: 20px;
	top: 8px;
	left: 400px;
	gap: 0px;
	opacity: 0px;


}



.w_1{
	position: relative;
	display: inline;
	font-family: Open Sans;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	text-align: center;

}

.p_1{
	position: relative;
	display:inline-block;
	width: 11.2px;
	height: 16px;
	top: 2px;
	left: 4px;
	gap: 0px;
	border: 1px 0px 0px 0px;
	opacity: 0px;


}


.second_group{
	position: relative;
	display:inline-flex;
	flex-direction: row;
	justify-content: space-between;
	left: 440px;
	width: 360px;
	
}


.l_1{
	position: relative;
	display: inline-block;
	margin-left:0px ;
	font-family: Open Sans;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	text-align: left;


}

.conto{
	position: relative;
	display: inline-block;

	width: 192px;
	height: 12px;
	top: 0px;
	left: 700px;
	gap: 0px;
	opacity: 0px;

	font-family: Open Sans;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	text-align: left;

}


.hanzpark_photo{
	position: relative;
	display: inline-block;

	width: 136px;
	height: 24px;
	top: 85px;
	left: 400px;
	gap: 0px;
	opacity: 0px;

}


.search_str{
	position: relative;
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 412px;
	height: 48px;
	top: 70px;
	left: 450px;
	gap: 0px;
	opacity: 0px;


}

.input{
	position: relative;
	display: inline-block;
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0.05em;
	text-align: left;

	width: 412px;
	height: 48px;
	top: 0px;
	left: 0px;
	gap: 0px;
	opacity: 0px;

}


.button_lupa{
	position: relative;
	display: inline-block;
	width: 56px;
	height: 54px;
	top: 0px;
	left: 0px;
	gap: 0px;
	opacity: 0px;
	background-color:#E0001B;

}


.favour{
	position: relative;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items:center ;
	width: 182px;
	height: 48px;
	top: 70px;
	left: 480px;
	gap: 0px;
	border-radius: 3px 0px 0px 0px;
	opacity: 0.04px;
	background-color: #F8F8F8;

}


.love_photo{
	width: 24px;
	height: 20px;
	top: 81px;
	left: 1066px;
	padding: 0px;
	gap: 0px;
	opacity: 0px;

}

.fav_text{
	width: 79px;
	height: 14px;
	top: 86px;
	left: 1105px;
	gap: 0px;
	opacity: 0px;

	font-family: Open Sans;
	font-size: 14px;
	font-weight: 600;
	line-height: 14px;
	text-align: center;


}

.some_photo{
	width: 17px;
	height: 17px;
	top: 84px;
	left: 1199px;
	gap: 0px;
	opacity: 0px;

}


.scales{
	position: relative;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 108px;
	height: 24px;
	top: 80px;
	left: 480px;
	gap: 0px;
	opacity: 0px;
}


.scale_photo{
	position: relative;
	display: inline-block;
	width: 26.63px;
	height: 24px;
	top: 81px;
	left: 480px;
	gap: 0px;
	opacity: 0px;
}

.scale_text{
	position: relative;
	display: inline-block;
	width: 69px;
	height: 14px;
	top: 0px;
	left: 0px;
	gap: 0px;
	opacity: 0px;
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 600;
	line-height: 14px;
	text-align: center;


}



.basket{
	position: relative;
	display: inline-block;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	width: 130px;
	height: 24px;
	top: 80px;
	left: 500px;
	gap: 0px;
	opacity: 0px;

}

.basket_photo{
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	top: 0px;
	left: 0px;
	padding: 1.73px 0px 1.73px 0px;
	gap: 0px;
	opacity: 0px;

}

.basket_text{
	position: relative;
	display: inline-block;
	width: 61px;
	height: 14px;
	top: -4px;
    left: -3px;
	gap: 0px;
	opacity: 0px;

	font-family: Open Sans;
	font-size: 14px;
	font-weight: 600;
	line-height: 14px;
	text-align: center;

}

.some_photo_2{
	position: relative;
    display: inline-block;
    left: -5px;
    top: -7px;


}

.ellips_photo{
	width: 16px;
    height: 17px;
	top: 0px;
	left: 0px;
	gap: 0px;
	opacity: 0px;


}

.sev_photo{
	position: relative;
	display: inline-block;

	width: 7px;
    height: 8px;
    top: -4px;
    left: -16px;
	gap: 0px;
	opacity: 0px;


}

.catalog{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 136px;
	height: 48px;
	top: 146px;
	left: 400px;
	gap: 0px;
	opacity: 0px;
	padding-left: 20px ;

	background-color: #E0001B;

}

.lines_photo{
	 position: relative;
	 display: inline-block;
}

.catalog_text{
	position: relative;
	display: inline-block;
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	text-align: left;
	color: whitesmoke;


}


.list_group{
	position: relative;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 900px;
	height: 130px;
	top: 50px;
	left: 600px;


}

.l_3{
	position: relative;
	display:inline;
	width: 146px;
	height: 14px;
	gap: 0px;
	opacity: 0px;

	font-family: Open Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	text-align: left;

}


